<?xml version="1.0" encoding="UTF-8"?>
<suite name="Example test run" >
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  
  <test name="Simple Test">
    <classes>
      <class name="org.suyog.digitalriver.tests.VerifyPhoneNumberTests"/>
    </classes>
  </test>
</suite>